---
layout: default
title: Designer & Strategist
description: I leverage my design, research, and strategy skills to craft elegant, data-driven digital products<!--  for teams tackling health and social challenges -->.
featured_image: /images/social.jpg
---

<div class="page-home">



	<!-- HERO SECTION -->

	{% if site.data.settings.hero_settings.background_image %}
	<img src="{{ site.data.settings.hero_settings.background_image | relative_url }}" class="hero__background" draggable="false">
	{% endif %}

	<section class="hero">
		<a name="home"></a>
		<div class="wrap grid">
			<div class="title">
				<div class="main__title">
					<p>{{ page.title }}</p>
				</div>
				<p class="intro subtitle--light">
					{{ page.description }}
					<a href="#" class="hero__cta button--fill contact-trigger js-contact">Get In Touch</a>
				</p>
			</div>
			<!-- <div class="hero__image floating-images">
	            <ul class="floating-images__container">
	                <li class="floating-image">
	                    <div class="image img-container">
	                        <img src="{{ '/images/hero-images/3.png' | relative_url }}" alt="">
	                    </div>
	                </li>
	                <li class="floating-image">
	                    <div class="image img-container">
	                        <img src="{{ '/images/hero-images/10.png' | relative_url }}" alt="">
	                    </div>
	                </li>
	                <li class="floating-image">
	                    <div class="image img-container">
	                        <img src="{{ '/images/hero-images/8.png' | relative_url }}" alt="">
	                    </div>
	                </li>
	                <li class="floating-image">
	                    <div class="image img-container">
	                        <img src="{{ '/images/hero-images/12.png' | relative_url }}" alt="">
	                    </div>
	                </li>
	                <li class="floating-image">
	                    <div class="image img-container">
	                        <img src="{{ '/images/hero-images/13.png' | relative_url }}" alt="">
	                    </div>
	                </li>
	                <li class="floating-image">
	                    <div class="image img-container">
	                        <img src="{{ '/images/hero-images/4.png' | relative_url }}" alt="">
	                    </div>
	                </li>
	                <li class="floating-image">
	                    <div class="image img-container">
	                        <img src="{{ '/images/hero-images/1.png' | relative_url }}" alt="">
	                    </div>
	                </li>
	                <li class="floating-image">
	                    <div class="image img-container">
	                        <img src="{{ '/images/hero-images/6.png' | relative_url }}" alt="">
	                    </div>
	                </li>
	                <li class="floating-image">
	                    <div class="image img-container">
	                        <img src="{{ '/images/hero-images/5.png' | relative_url }}" alt="">
	                    </div>
	                </li>
	                <li class="floating-image">
	                    <div class="image img-container">
	                        <img src="{{ '/images/hero-images/2.png' | relative_url }}" alt="">
	                    </div>
	                </li>
	                <li class="floating-image">
	                    <div class="image img-container">
	                        <img src="{{ '/images/hero-images/7.png' | relative_url }}" alt="">
	                    </div>
	                </li>
	            </ul>
	        </div> -->
			<div class = "hero__image">
				<img src="{{ '/images/hero-image-1.jpg' | relative_url }}" alt="">
			</div>
		</div>

	</section>



	<!-- PORTFOLIO SECTION -->

	<section class="listing">
		<div class="wrap">
			<a name="portfolio"></a>
			<p class="title">Portfolio</p>
			<p class="subtitle subtitle--light">
				Below is a selection of my recent work as well as some comments from prior clients, supervisors, and product end users.<!--  You can also <a href="#" onclick='window.open("{{ relative_url }}/Jessica_Lupanow_Portfolio.pdf/");return false;'>view my portfolio as a pdf </a>.-->
      		</p>
      		<br>
      		<br>

      		<div class="projects__list grid">
				{% for project in site.projects reversed %}
					{% if project.title != 'DEMO' %}
						<!-- v Temporary until last case study done v -->
						{% if project.title == 'Website Redesign for a Small Business' %}
							<article class="project__card">
							  <a href="https://www.behance.net/gallery/86205477/Mobile-Web-Design-Study-for-a-Small-Business" class="project__link">
							    <div class=image__frame">
							    	<div class="project__image"> 
							    		<!--  style="background-image: url({{ '/images/projects/' | relative_url}}{{ project.featured_image }})" -->
							    		<img src="{{ '/images/projects/' | relative_url}}{{ project.featured_image }}" alt="">
							    	</div>
							    </div>
							    <h4 class="project__title">{{ project.title }}</h4>
							    <p class="project__role">{{ project.subtitle }}</p>
							    <p class="project__role"><b>Role:</b> {{ project.role }}</p>
							  </a>
							</article>
						{% else %}
							{% if project.title == 'Task Analysis App for Neurodiverse Users' %}
								<article class="project__card">
								  
								    <div class=image__frame">
								    	<div class="project__image"> 
								    		<!--  style="background-image: url({{ '/images/projects/' | relative_url}}{{ project.featured_image }})" -->
								    		<img src="{{ '/images/projects/' | relative_url}}promptly-soon.png" alt="">
								    	</div>
								    </div>
								    <h4 class="project__title">{{ project.title }}</h4>
								    <p class="project__role">{{ project.subtitle }}</p>
								    <p class="project__role"><b>Role:</b> {{ project.role }}</p>
								  
								</article>
							{% else %}
								<article class="project__card">
								  <a href="{{ project.url | relative_url }}" class="project__link">
								    <div class=image__frame">
								    	<div class="project__image"> 
								    		<!--  style="background-image: url({{ '/images/projects/' | relative_url}}{{ project.featured_image }})" -->
								    		<img src="{{ '/images/projects/' | relative_url}}{{ project.featured_image }}" alt="">
								    	</div>
								    </div>
								    <h4 class="project__title">{{ project.title }}</h4>
								    <p class="project__role">{{ project.subtitle }}</p>
								    <p class="project__role"><b>Role:</b> {{ project.role }}</p>
								  </a>
								</article>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>



	<!-- TESTIMONIALS SECTION -->

	<section class="testimonials">
		<div class="wrap">
			<div class="row justify-content-center">
				<div class="col-sm-12">
					<div id="customers-testimonials" class="owl-carousel">

					    <!--TESTIMONIAL 1 -->
					    <div class="item">
					      	<div class="shadow-effect">
					        	<p>I was very impressed by Jessica's clear project plan & competitive analysis. I enjoyed seeing the new, more visually appealing product design.</p>
					      	</div>
					      	<div class="container">
						      	<div class="testimonial-person">
						      		<div class="testimonial-picture">
						      			<img src="{{ '/images/testimonials/jeff-yue.jpg' | relative_url }}" alt="">
						      		</div>
						      		<h3 class="testimonial-name">
						      			Jeff Yue
						      			<span class="post">Client, Founder and CEO of BehaveWare</span>
						      		</h3>
						  		</div>
						  	</div>
		    			</div>

		    			<div class="item">
					      	<div class="shadow-effect">
					        	<p>This app is straightforward, streamlined, and very user friendly. The step-by-step walkthroughs and intuitive design help you get started making tasks right away.</p>
					      	</div>
					      	<div class="container">
						      	<div class="testimonial-person">
						      		<div class="testimonial-picture">
						      			<img src="{{ '/images/testimonials/l-bullard.jpg' | relative_url }}" alt="">
						      		</div>
						      		<h1 class="testimonial-name">
						      			L. Bullard
						      			<span class="post">End User, Promptly by BehaveWare</span>
						      		</h1>
						  		</div>
						  	</div>
					    </div>

					    <!--TESTIMONIAL 2 -->
					    <div class="item">
					      	<div class="shadow-effect">
					        	<p>Jessica has a sharp mind, a dry wit, and insanely fast research skills.</p>
					      	</div>
					      	<div class="container">
						      	<div class="testimonial-person">
						      		<div class="testimonial-picture">
						      			<img src="{{ '/images/testimonials/jaime-levy.jpg' | relative_url }}" alt="">
						      		</div>
						      		<h3 class="testimonial-name">
						      			Jaime Levy
						      			<span class="post">Supervisor, Jaime Levy Consulting</i></span>
						      		</h3>
						  		</div>
						  	</div>
					    </div>

					    <!--TESTIMONIAL 3 -->
					    <!-- <div class="item">
					      	<div class="shadow-effect">
					        	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					      	</div>
					      	<div class="container">
						      	<div class="testimonial-person">
						      		<div class="testimonial-picture">
						      			<img src="{{ '/images/joy-haag.jpg' | relative_url }}" alt="">
						      		</div>
						      		<h1 class="testimonial-name">
						      			Joy Haag
						      			<span class="post">Client, President of Sentry Mirror</span>
						      		</h1>
						  		</div>
						  	</div>
					    </div> -->

					</div>
				</div>
			</div>
	    </div>
	</section>

		


	<!-- ABOUT SECTION -->
	<div class="wrap">
    	<hr style="background-color: $accent-color !important; margin: 80px 0 80px 0;">
 	</div>
	
	{% include section__about.html %}



	<!-- FULL WIDTH CAROUSEL DISPLAY -->

	<!-- <section class="listing">
		<div class="wrap">
			<a class="navbar-link" name="portfolio"></a>
			<p class="title">Portfolio</p>
			<p class="subtitle subtitle--light">
				Below is a selection of my recent work. You can also <a href="#" onclick='window.open("{{ relative_url }}/Jessica_Lupanow_Portfolio.pdf/");return false;'>view my portfolio as a pdf</a>. 
      		</p>
      		<br>
      		<br>

			{% for project in site.projects reversed %}

			{% if project.accent_color %}{% capture accent_color %}{{ project.accent_color }}{% endcapture %}{% endif %}

			<article class="project__preview">
				<h3 class="project__title"><a href="{{ project.url | relative_url }}" style="--accent: {{ accent_color }}">{{ project.title }}</a></h3>

				<div class="project__images owl-carousel" style="--accent: {{ accent_color }}">
					{% for image in project.gallery_images %}
					<a href="{{ project.url | relative_url }}"><img src="{{ '/images/projects/' | relative_url}}{{ image }}" alt="" class="project__image"></a>
					{% endfor %}
				</div>

				<div class="project__content grid" style="border-color: {{ accent_color }}">
					<p class="project__subtitle subtitle--light">{{ project.subtitle }}</p>
					<p class="project__description --small">
						{{ project.description }}
						<a href="{{ project.url | relative_url }}" class="project__link button--text --right"
							style="color: {{ accent_color }}; --color-var: {{ accent_color }}">View Case Study</a>
					</p>
				</div>
			</article>

			{% endfor %}
		</div>
	</section> -->



	<!-- RECENT POSTS/BLOG SECTION -->

	<!-- <section class="recent-posts">
		<div class="wrap grid">
			<header class="recent-posts__header">
				<h4>Recent blog posts</h4>
				<a href="{{ '/blog' | relative_url }}" class="action button--text--accent --right">All Posts</a>
			</header>

			<div class="recent-posts__list grid">
				{% for post in site.posts limit: 3 %}
				{% include component__post-preview.html %}
				{% endfor %}
			</div>

			<a href="{{ '/blog' | relative_url }}" class="action-bottom button--text--accent --right">All Posts</a>
		</div>
	</section> -->
</div>