<section class="about"> 
<!--   {% if include.divider == true %} -->
  <div class="wrap">
    <hr/>
  </div>
<!--     {% endif %} -->
  <div class="wrap grid">

    <div class="about__image bottom-column">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      <!-- {% include component-socials.html %} -->
    </div>

    <div class="about__content bottom-column">
      <a name="about"></a>
      <h2 class="title">Hi, I’m Jessica.</h2>
      <p class="subtitle subtitle--light">I’m a junior designer and strategist<!-- specializing in digital products for health and social issues -->.
      </p>

      <p>
        My skills include competitive research & value proposition identification, customer discovery & persona creation, wireframing & prototyping, and user research & usability testing. Before working in UX, I was a doctoral researcher in socially assistive robotics. This is where I learned how to engage with users to collect useful qualitative and quantitative data about their interactions with technology. 
      </p>
      
      <p>
        Currently I'm designing thoughtful experiences as a part of <a class="about__link" href="https://jaimelevy.com/" target="_blank">Jaime Levy Consulting</a> and working with freelance clients to identify areas for growth in existing products and help bring new product ideas to life.
      </p>

      <!-- <p>
        I’m passionate about devising clean, straightforward designs backed by research that meet the users needs as well as your business goals.
      </p> -->

      <!-- In my spare time you can find me creating copycat Starbucks recipes at home, walking my newly adopted dog, or binge watching comedy specials and old crime shows. -->

      <p>I’d love to learn about your company and see how I can help!</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>