<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image bottom-column">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      <!-- {% include component-socials.html %} -->
    </div>

    <div class="about__content bottom-column">
      <h2 class="title">Hi, I’m Jessica.</h2>
      <p class="subtitle subtitle--light">I’m a designer, researcher, and strategist specializing in digital products for health and social issues.
      </p>

      <p>My skills include competitive research & value proposition identification, customer discovery & persona creation, wireframing & prototyping, and user research & usability testing. I’m interested in clean, straightforward designs backed by research that meet the users needs while meeting your business goals.</p>
      <p>I’d love to learn about your company and see how I can help, feel free to send me an email!</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>