// - - - - - - - - - - - - - - - - - -

// Structure

// - - - - - - - - - - - - - - - - - -

.page,
.page__content {
	width: 100%;
  margin-top: $sitetitle-small+60px;


  @include mq(tabletp) {
    margin-top: $sitetitle-medium+60px;
  }

  @include mq(laptop) {
    margin-top: $sitetitle-large+60px;
  }

}

html {
  scroll-behavior: smooth;
}

.wrap {
	position: relative;
	margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  max-width: 1200px;
}

.grid {
	display: grid;
	grid-gap: 30px;

	&__2-col {
    @extend .grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__3-col {
    @extend .grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @include mq(tabletp) {
    grid-gap: 30px;
  }
}

.locked {
  overflow: hidden;
}