// - - - - - - - - - - - - - - - - - -

// Footer

// - - - - - - - - - - - - - - - - - -

.footer {
	@include transition(all 0.4s ease-in-out 0.8s);
	padding: 80px 0;
	margin-top: 80px;

	.footer__logo {
		justify-self: center;
	}

	.footer__title {
	    font-family: $title-font;
	    font-size: $sitetitle-small;
	    font-weight: $sitetitle-weight;
	    letter-spacing: $sitetitle-spacing;
	    line-height: 1;
	    color: $text-dark-color;

		/*@include mq(tabletp) {
	      font-size: $sitetitle-medium;
	      margin-top: 40px;
	    }

	    @include mq(laptop) {
	      font-size: $sitetitle-large;
	    }*/

	    &:hover {
	      color: $accent-color;
	    }
	}

/*	.footer__socials {
		justify-self: left !important;

		p {
			margin-bottom: 10px;
		}
		@include mq(tabletp) {
			justify-self: center;
			align-self: center;
			text-align: center;
		}
	}*/

	.tagline__smaller {
		font-size: smaller;
	}
	
	.footer__copyright {

		@include mq(tabletp) {
			justify-self: center;
			justify-content: center;
			align-self: center;
			text-align: center;
			margin-top: 30px
		}

		p {
			margin-bottom: 10px;
			margin-top: 40px;
		}
	}

	@include mq(tabletp) {
		padding: 32px 0;

		.wrap {
			grid-template-columns: 1fr;
		}

		.footer__logo {
			justify-self: start;
		}
		
		/*.footer__socials {
			justify-self: center; 
		}*/

		.footer__copyright {
			justify-self: center; 
		}
	}
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Social Icons

.socials {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: start; /* Commenting this out will left-align social icons in all views */
	@include mq(tabletp) {
	  	justify-content: center; /* Commenting this out will center social icons in all views */
		align-self: center;
		text-align: center;
	}
}

.socials__item {
  margin-left: 24px;

  &:first-child {
    margin-left: 0;
  }
}

.socials__item__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.1*$sitetitle-small;
  height: 1.1*$sitetitle-small;
  border-radius: 100%;
  background: $text-dark-color;
  font-size: 0.65*$sitetitle-small;
  color: $background-color;

	/*@include mq(tabletp) {
	    font-size: 0.65*$sitetitle-medium;
	    width: 1.1*$sitetitle-medium;
	    height: 1.1*$sitetitle-medium;
	}

	@include mq(laptop) {
		font-size: 0.65*$sitetitle-large;
		width: 1.1*$sitetitle-large;
		height: 1.1*$sitetitle-large;
	}*/


  &:hover {
    background: $accent-color;
    color: $background-color;
  }

  &:active {
    transform: scale(0.92);
  }
}