// - - - - - - - - - - - - - - - - - -

// Section - About

// - - - - - - - - - - - - - - - - - -

.about {
  /*margin-bottom: 100px;*/

  /*Make about link jump to 100px above start of section so its not covered by navbar*/
  a.navbar-link::before { 
    display: block; 
    content: " "; 
    margin-top: -100px; 
    height: 100px; 
    visibility: hidden; 
    pointer-events: none;
  }

  a.about__link {
    /*
  color: $text-dark-color;
  @include transition(all 120ms ease-in-out);

  &:hover {
    color: $accent-color;
  }*/
  color: inherit;
  font-weight: $bold-weight;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: transparentize($color: $accent-color, $amount: 0.8);

  &:hover {
    color: $accent-color;
  }
  }

  hr {
    margin-bottom: 80px;
    z-index: 20000;
    background-color: $accent-color;
    display: block;
  }

  .about__image {
    width: 100%;
    margin: 0 0 40px 0;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: 0px;
    }

    @include mq(tabletl) {
      margin: 0;
      img {
        margin-bottom: 0;
      }
    }
  }

  .title {
    margin-bottom: 16px;
  }

  .about__content {
    /*max-width: 456px;*/
    /*max-height: 600px;*/
    /*flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;*/

    .title {
      margin-bottom: 16px;
    }

    .subtitle {
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 16px;
    }

    .cta {
      margin: 8px 0 0 -4px;
    }
	}
	

  @include mq(tabletp) {
/*    margin-bottom: 160px;
*/    
    hr {
      margin-bottom: 120px;
    }
		
    .wrap {
      grid-template-columns: 1fr;
      /*grid-gap: 25px;*/
    }

    .about__image {
      width: 100%;
      margin-left: 0;
		}
		
		.about__content {
			margin-top: 0px;

			.subtitle {
				margin-bottom: 24px;
			}
		}

    img {
      margin-bottom: 0px;
    }
  }
  @include mq(laptop) {
    .wrap {
      grid-template-columns: 1fr 1fr;
      /*grid-gap: 25px;*/
    }
  }
}

/*// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Social Icons

.socials {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials__item {
  margin-left: 24px;

  &:first-child {
    margin-left: 0;
  }
}

.socials__item__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: $text-dark-color;
  font-size: 16px;
  color: $background-color;

  &:hover {
    background: $accent-color;
    color: $background-color;
  }

  &:active {
    transform: scale(0.92);
  }
}
*/