// - - - - - - - - - - - - - - - - - -

// Testimonials

// - - - - - - - - - - - - - - - - - -
.testimonials {
  margin-bottom: 0px;
  text-align: center;

  .grid {
    grid-template-columns: auto;
  }

  .shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center !important;
    border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto 0;
    height: 250px; /* HEIGHT OF TESTIMONIAL FOR MOBILE VIEW */

    @include mq(tabletp) {
      height: 175px; /* HEIGHT OF TESTIMONIAL FOR TABLET & DESKTOP VIEW */
      width: auto;
    }
  }
  #customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: $p-size;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: $p-weight;
  }
  .container {
    display: flex;
    margin: -17px auto 0;
    letter-spacing: 2 !important;
  }
  .testimonial-person { /* HEIGHT OF PROFILE IS 80 PX */
    margin: -17px auto 0;
    background-color: $accent-color;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
    display: table;
    padding: 15px;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;

    .testimonial-picture {
      width: 50px;
      height: 50px;
      border: 2px solid white;
      overflow: hidden;
      border-radius: 50%;
      float: left;

      img {
        display: inline;
        min-height: 100%;
        min-width: 100%;
      }
    }

    .testimonial-name {
      display: inline-block;
      margin: 0 0 0 30px;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 22px;
      color: white;
      position: relative;
      top: 4px;

    }
    .testimonial-name:before{
      content: "";
      width: 2px;
      height: 40px;
      background: white;
      position: absolute;
      top: 2px;
      left: -15px;
    }
    .post{
      display: block;
      font-size: 12px;
      font-weight: normal;
      font-family: $body-font;
      letter-spacing: 1px;

      color: white;
      margin-top: 0px;
      @include mq(tabletp) {
        font-size: 14px;
      }
    }

    .post-relation{
      margin-bottom: 0px;
    }
  }
  #customers-testimonials .item {
    text-align: center !important;
    padding: 0 0 0;
    height: 330px; /* HEIGHT OF TESTIMONIAL+NAME FOR MOBILE VIEW */
    margin-bottom: 0px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    .grid{
      grid-template-columns: 1fr 3fr;
    }

    @include mq(tabletp) {
      height: 255px; /* HEIGHT OF TESTIMONIAL+NAME FOR TABLET & DESKTOP VIEW */
      padding: 0 50px 0;
    }
  }
  #customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
  }

  .owl-dots {
    margin: 0 0 0 0;
    display: inline-block;
    text-align: center;
    width: 100%;

    .owl-dot {
      width: 24px;
      height: 4px;
      margin-right: 8px;
      cursor: pointer;
      background-color: white;
      @include transition(all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) 0s);
      outline: none;

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: $border-color;
        border-radius: 8px;
        @include transition(all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) 0s);
      }

      &.active {
        width: 48px;
        color: $accent-color;

        &:after {
          background: $accent-color;
        }
      }
    }
  }

}